.feed_one, .feed_two, .feed_three {
    width: 90%;
    margin: 10px auto;
    background-color:#f6f8fb;
    border-radius: 20px;
    padding: 12px 20px;
}
.feed_one h1, .feed_two h1, .feed_three h1 {
    color: #02073E;
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 2px;
}

.feed_one p, .feed_two p, .feed_three p {
    color: #02073E;
    margin-bottom: 2px;
}
.inpt-group {
    display: flex;
    width: 68%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 3.5rem 0;
    margin-left: 0 ;
}

.inpt-group label img {
    width: 30px;
    height: 24px;
    margin-bottom: -10px;
}
.inp{
    position: relative;
}
.inp input {
    position: absolute;
    bottom: 20px;
    left: -24px;
}

.inpt-group .inp input:checked {
    background-color: #ffa500;
    border: none;
}

.feed_one button, .feed_two button{
    background-color: #ffa500;
    padding: 10px 14px;
    /* width: 100%; */
    height: 18%;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
}

input[name="name"] {
    width: 100%;
}

#now {
    background-color: white;
    color: #ffa500;
    padding: 8px 10px;
}
/* feed two */
.feed_two input, .feed_two textarea {
    display: block;
    /* width: 100%; */
    border: 2px solid #ffa500;
    border-radius: 3px;
    margin-bottom: 12px;
    padding: 12px 18px;
}

input[name="counsellor"], textarea {
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* justify-content: space-between; */
}

.form-group p{
    margin-left: 0px;
    position: absolute;
    top: -34px;
    right: 0;
}
.share-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: 10px auto;
}
.socials_feed {
    margin: 0;
}

.share {
    display: flex;
    align-items: center;
}
.share h2 {
    color: #02073E;
    margin-right: 20px;
}

.feed_two, .feed_three {
    display: none;
}

/* #now {
    display: block;
} */

.feed_back {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feed_back button {
    color: #ffa500;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .feed_one, .feed_two, .feed_three {
        width: 80%;
        padding: 22px 30px;
    }

    .inpt-group label img {
        width: 50px;
        height: 44px;
        margin-bottom: -10px;
    }

    .inpt-group {
        flex-direction: row;
        margin-left: 45px ;
        margin-bottom: 12px;
    }

    input[name="counsellor"], textarea {
        width: 60%;
    }

    .form-group {
        flex-direction: row;
    }

    .form-group p{
        margin-left: 10px;
        position: relative;
    }

    .inp input {
        position: absolute;
        bottom: 20px;
        left: -24px;
    }
    .feed_one button, .feed_two button{
        width: 24%;
    }

    input[name="name"] {
        width: 45%;
    }

    .form-group p{
        margin-left: 10px;
        position: relative;
        top: unset;
        right: unset;
    }
    .form h2{
        font-size: 1.2rem;
    }
    
    .share-buttons {
        width: 30%;
        margin: 10px 0;
    }
}